/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */
body {
  width: 100%;
  margin: 0;
}

.navBar {
  width: 100%;
  height: 25px;
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
  border-radius: 0;
  border-color: grey;
  background-color: lightgray;
  overflow: hidden;
  display: flex;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
  align-items: center;
}

.progress-bar {
  position: relative;
  height: 5px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
  display: inline-block;
  color: white;
}

.filler {
  position: absolute;
  background: #1da598;
  height: inherit;
  border-radius: inherit;
  transition: width 0.2s ease-in;
  display: inline-block;
}

span {
  display: inline-block;
  padding: 12px 12px;
  margin-right: 10px;
  margin-left: 10px;
}

.main_hdr {
  text-align: right;
  padding-right: 1em;
  font-size: small;
  width: 200px;
}

.pct_indicator {
  padding-left: 1em;
  font-size: small;
  width: 50px;
}

.float_right {
  float: right;
  width: 50px;
}

.float_right:after {
  content: 'x';
}

.float_right:hover {
  cursor: pointer;
}

.on_edit_text {
  padding-left: 20px;
  font-size: small;
  text-decoration: underline;
  width: 500px;
}

.on_edit_text:hover {
  cursor: pointer;
}

button {
  margin-right: 10px;
  padding: 7px 12px;
  font-size: 14px;
  background: white;
  color: blue;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  outline: 0;
  margin: 5px;
  display: inline-block;
}
